* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Hero banner Section */
.hero-container {
  width: 100%;
}
.hero-container .hero-content {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./assets/Banner\ Image.png);
  margin: 50px auto;
  width: 1320px;
  height: 600px;
  color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container .hero-content h2 {
  font-size: 32px;
  font-weight: 500;
  padding: 16px 0;
}
.hero-container .hero-content h1 {
  font-size: 72px;
  text-align: center;
  font-family: Josefin Sans;
}

/* All categories section */
.all-categories-container {
  width: 100%;
  margin-top: 120px;
}
.all-categories-container .categories-content {
  margin: 0 auto;
  width: 803px;
  text-align: center;
}
.all-categories-container .categories-content h1 {
  color: #f00;
  font-size: 80px;
  font-weight: 700;
}
.all-categories-container .categories-content p {
  color: #f00;
  font-size: 24px;
}
.all-categories-container .categories-content h2 {
  color: #070211;
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 700;
}
/* midnight party section */
.midnight-container {
  width: 100%;
  margin: 120px 0;
}
.midnight-container .midnight-content {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./assets/Vectorrr.png);
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 126px;
}
.text-content {
  color: white;
}
.text-content h1 {
  font-size: 64px;
  font-weight: 900px;
}
.text-content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding: 26px 0;
}
.primary-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f00;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}
.primary-btn:hover {
  background-color: rgb(177, 16, 16);
}
/* Destination section */
.destination-section {
  width: 100%;
  margin-bottom: 120px;
}
.destination-container {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination-container .destination-content {
  text-align: center;
}
.destination-container .destination-content h2 {
  padding: 10px 0;
  font-size: 32px;
}
.destination-container .destination-content h2 span {
  color: #f00;
}
.destination-btn {
  margin: 48px 0;
}

/* offers section */
.offer-section {
  width: 100%;
}
.offer-section .offers-container {
  width: 1320px;
  margin: 120px auto;
}
.offer-section .offers-container .offers-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.offers-img img {
  width: 365px;
  margin: 0 130px;
  border: 13px solid #f00;
  padding: 30px;
  background-clip: content-box;
  border-radius: 50%;
}
.offers-left-content h2 {
  font-size: 24px;
  color: #f00;
  padding: 5px 0;
  font-weight: 500;
}
.offers-left-content h1 {
  font-size: 48px;
  font-family: sans-serif;
  padding-bottom: 22px;
  font-weight: 700;
}
.offers-left-content p {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
}
.offers-right-content h1 {
  font-size: 48px;
  color: #f00;
}
.offers-right-content p {
  color: rgba(7, 2, 17, 0.6);
  padding: 16px 0;
  font-size: 20px;
}
/* Holidays Sale section */
.holiday-section .holiday-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url(./assets/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  border-radius: 16px;
  z-index: 1;
}
.holiday-section {
  margin: 120px 0;
}
.holiday-text-content {
  text-align: center;
  width: 1068px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.holiday-text-content h3 {
  font-size: 24px;
  font-weight: 500;
}
.holiday-text-content h1 {
  font-size: 72px;
  font-family: Merriweather;
  padding-bottom: 20px;
}
.holiday-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
}
.holiday-text-content h1 span {
  color: #f00;
}

.left-img-holiday img {
  width: 600px;
  padding-left: 30px;
  padding-top: 60px;
  left: 0;
  bottom: 0;
}
.holiday-container .holiday-img-content {
  display: flex;
  justify-content: space-between;
}
.right-img-holiday {
  display: flex;
  align-items: start;
  z-index: -1;
}
.right-img-holiday {
  position: relative;
}
.right-img-holiday .discount {
  position: absolute;
  right: 70%;
  top: 8%;
}
/* portfolio-section */
.portfolio-section {
  width: 100%;
  margin: 120px 0;
}
.portfolio-section .portfolio-container {
  width: 1290px;
  margin: 0 auto;
}
.portfolio-text-content {
  padding-bottom: 48px;
  width: 896px;
}
.portfolio-section .portfolio-container h3 {
  color: #f00;
  font-size: 24px;
  width: 500;
}
.portfolio-section .portfolio-container h1 {
  font-size: 48px;
  font-family: Merriweather;
}
.portfolio-section .portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  padding-top: 20px;
  font-size: 20px;
}
.portfolio-section .portfolio-container .portfolio-content {
  text-align: center;
}
.portfolio-section .portfolio-container .portfolio-content img {
  padding: 10px;
}
.portfolio-content img {
  width: 424px;
  height: 450px;
  transition: 0.3s;
}
.portfolio-content img:hover {
  transform: scale(1.1) rotate(2deg);
}

/* subscribe-section */
.subscribe-section {
  width: 100%;
}
.subscribe-section .subscribe-container {
  width: 1320px;
  height: 616px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-section .subscribe-container .subscribe-content {
  text-align: center;
  width: 800px;
}
.content h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  margin-bottom: 48px;
}
form {
  display: flex;
  justify-content: center;
}
form input[type="email"] {
  padding: 25px 30px;
  width: 438px;
  height: 72px;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
}
form input[type="submit"] {
  padding: 24px 56px;
  border-radius: 0 50px 50px 0;
  border: none;
  cursor: pointer;
  background-color: #f00;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
form input[type="submit"]:hover {
  background-color: rgb(177, 16, 16);
}
/* Footer section */
.footer-container {
  width: 100%;
  background-color: #070211;
}
.footer-container .footer-content {
  width: 1320px;
  height: 609px;
  display: flex;
  font-size: 22px;
  color: white;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header-content .content img {
  margin-right: 16px;
}
.mid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 98px 0;
}
.mid-content img {
  padding: 0 20px;
}
.bottom-content {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
hr {
  height: 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
